openapi: 3.1.0
info:
  title: Parqet Allocation API
  description: |
    Unofficial Parqet (formerly Tresor One) API used to retrieve portfolio
    allocation data. This specification only covers the subset of the API that
    is consumed by this application — the full API response contains additional
    data (securities breakdowns by country, region, sector, industry, type)
    that is not used here.
  version: 1.0.0

servers:
  - url: https://api.parqet.com/v1

paths:
  /portfolios/{portfolioId}:
    get:
      operationId: getPortfolio
      summary: Retrieve public portfolio metadata
      description: |
        Returns portfolio metadata for a public portfolio. For this app, the
        relevant part is `portfolio.subAccounts`, which exposes the human-
        readable names of sub-depots / sub-accounts shown in the Parqet UI.
      parameters:
        - name: portfolioId
          in: path
          required: true
          schema:
            type: string
          description: Public portfolio ID.
      responses:
        '200':
          description: Public portfolio metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioResponse'

  /allocation/assemble:
    post:
      operationId: assembleAllocation
      summary: Retrieve portfolio allocation data
      description: |
        Returns allocation data for one or more portfolios, grouped by asset
        type and by identifier (ISIN / cash). This app uses the
        `assets.identifier` array to sum up the current EUR value of all
        holdings across the requested portfolios.

        The endpoint also supports scoping the response to specific
        sub-accounts / sub-depots via `subAccounts`. Each sub-account value is
        a composite identifier in the form `<portfolioId>:<subAccountId>`.
        Example:
        `6954dc5a2336d3fdaa0285f0:a43a47666b25c8d9e2c0553334e9c3935d3eaf71`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllocationRequest'
      responses:
        '200':
          description: Allocation data for the requested portfolios
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllocationResponse'

components:
  schemas:
    AllocationRequest:
      type: object
      required:
        - portfolioIds
        - subAccounts
        - holdingIds
        - currency
        - assetTypes
      properties:
        portfolioIds:
          type: array
          items:
            type: string
          description: List of portfolio IDs to include.
          example: ["<portfolio-id>"]
        subAccounts:
          type: array
          items:
            type: string
          description: |
            Optional list of sub-account filters. Each item uses the composite
            form `<portfolioId>:<subAccountId>`. Empty array means all
            sub-accounts.
          example:
            - "6954dc5a2336d3fdaa0285f0:a43a47666b25c8d9e2c0553334e9c3935d3eaf71"
            - "6954dc5a2336d3fdaa0285f0:d183dedcad74a174f218a608fbc17a861a63f2bc"
        holdingIds:
          type: array
          items:
            type: string
          description: Optional list of specific holding IDs to filter by. Empty array means all holdings.
          example: []
        currency:
          type: string
          description: Currency in which values are returned.
          example: EUR
        assetTypes:
          type: array
          items:
            type: string
          description: Optional list of asset types to filter by. Empty array means all types.
          example: []
        timeframe:
          type: string
          description: Optional timeframe selector for the assembled data.
          example: max

    AllocationResponse:
      type: object
      required:
        - assets
      properties:
        assets:
          $ref: '#/components/schemas/Assets'

    PortfolioResponse:
      type: object
      required:
        - portfolio
      properties:
        portfolio:
          $ref: '#/components/schemas/Portfolio'

    Portfolio:
      type: object
      required:
        - _id
        - name
        - currency
        - public
        - subAccounts
      properties:
        _id:
          type: string
          description: Portfolio identifier.
          example: 6954dc5a2336d3fdaa0285f0
        name:
          type: string
          description: Portfolio display name.
          example: Eltern
        currency:
          type: string
          description: Base portfolio currency.
          example: EUR
        public:
          type: boolean
          description: Whether the portfolio is publicly accessible.
          example: true
        subAccounts:
          type: array
          description: |
            List of named sub-depots / sub-accounts shown in the Parqet UI.
            For example, a portfolio can contain multiple depots such as
            `Direkt-Depot (.... 0020)` and `Direkt-Depot (.... 5615)`.
          items:
            $ref: '#/components/schemas/SubAccount'

    SubAccount:
      type: object
      required:
        - name
        - hashedAccountNumber
      properties:
        name:
          type: string
          description: Human-readable sub-depot / sub-account name.
          example: Direkt-Depot (.... 0020)
        hashedAccountNumber:
          type: string
          nullable: true
          description: |
            Opaque account identifier exposed by the public portfolio metadata
            endpoint. This identifies the sub-account conceptually, but the
            public metadata response may redact it. The `allocation/assemble`
            endpoint expects a non-redacted sub-account ID embedded in the
            composite `<portfolioId>:<subAccountId>` request value.
          example: redactedhn:d1b76aee-406a-4d71-aef7-9e0917abd85b

    Assets:
      type: object
      required:
        - identifier
      properties:
        identifier:
          type: array
          items:
            $ref: '#/components/schemas/AssetGroup'
          description: |
            Assets grouped by identifier (typically ISIN for securities, or
            "Cash" for cash positions). Each entry represents one distinct
            security or cash position and its aggregated value.

    AssetGroup:
      type: object
      required:
        - id
        - share
        - value
        - label
        - holdings
      properties:
        id:
          type: string
          description: |
            Identifier for the asset group — typically an ISIN
            (e.g. "LU0290358497") or "Cash" for cash positions.
          example: IE000716YHJ7
        share:
          type: number
          format: float
          description: Percentage share of the total portfolio value (0–100).
          example: 43.37
        value:
          type: number
          format: float
          description: Current value in the requested currency.
          example: 23547.49
        label:
          type: string
          description: Human-readable name of the asset.
          example: Invesco FTSE All-World UCITS ETF Acc
        holdings:
          type: array
          items:
            $ref: '#/components/schemas/Holding'
          description: Individual holdings that make up this asset group.

    Holding:
      type: object
      required:
        - id
        - share
        - value
        - label
      properties:
        id:
          type: string
          description: Unique holding identifier.
          example: hld_67c624665ea7d93403b98d6c
        share:
          type: number
          format: float
          description: Percentage share of the total portfolio value (0–100).
          example: 43.37
        value:
          type: number
          format: float
          description: Current value of this holding in the requested currency.
          example: 23547.49
        label:
          type: string
          description: Human-readable name of the holding.
          example: Invesco FTSE All-World UCITS ETF Acc
